.container {
  margin-top: 24px;
  border-radius: 6px;
  background-color: #fff;
  padding: 16px 20px;
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .add {
    margin-top: 16px;
    display: flex;
    gap: 21px;
  }
  .form {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    label {
      font-weight: 400;
      font-size: 14px;
      line-height: 22.4px;
      color: #a9a9a9;
    }
    button {
      margin-top: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      cursor: pointer;
      border-radius: 4px;
      color: #fff;
      background-color: #2752e7;
      padding: 17px;
      border: none;
      outline: none;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 228px;
    margin-top: 0px;
    border-radius: 6px;
    background-color: #fff;
    padding: 16px 20px;
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
    .add {
      margin-top: 16px;
      display: flex;
      gap: 9px;
    }
    .form {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
        color: #a9a9a9;
      }
      button {
        margin-top: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        background-color: #2752e7;
        padding: 17px;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    margin-top: 0px;
    border-radius: 0px;
    background-color: #fff;
    padding: 16px 20px;
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
    .add {
      margin-top: 16px;
      display: flex;
      gap: 21px;
    }
    .form {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
        color: #a9a9a9;
      }
      button {
        margin-top: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        background-color: #2752e7;
        padding: 17px;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }
    }
  }
}
