.container {
  border-radius: 6px;
  background-color: #fff;
  padding: 16px 20px;
  .resName {
    display: none;
  }
  .names {
    display: flex;

    span:nth-child(1) {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 82px;
      color: #2752e7;
      border-right: 1px solid #e3e3e3;
    }
    span:last-child {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 82px;
      color: #a9a9a9;
    }
  }
  .pirce {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-weight: 400;
      font-size: 14px;
      line-height: 22.4px;
      color: #a9a9a9;
    }
    .count {
      margin-top: 4px;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #000000;
    }
  }

  .forms {
    position: relative;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .swapp {
      cursor: pointer;
      position: absolute;
      top: 22%;
      left: 46%;
    }
    button {
      cursor: pointer;
      border-radius: 4px;
      color: #fff;
      background-color: #2752e7;
      padding: 17px;
      border: none;
      outline: none;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    max-width: 524px;
    border-radius: 6px;
    background-color: #fff;
    padding: 16px 20px;
    .resName {
      display: none;
    }
    .names {
      display: flex;

      span:nth-child(1) {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding: 8px 106px;
        color: #2752e7;
        border-right: 1px solid #e3e3e3;
      }
      span:last-child {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding: 8px 106px;
        color: #a9a9a9;
      }
    }
    .pirce {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
        color: #a9a9a9;
      }
      .count {
        margin-top: 4px;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
      }
    }

    .forms {
      position: relative;
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .swapp {
        cursor: pointer;
        position: absolute;
        top: 22%;
        left: 46%;
      }
      button {
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        background-color: #2752e7;
        padding: 17px;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
    max-width: 375px;
    border-radius: 0px;
    background-color: #fff;
    padding: 16px 20px;

    .resName {
      display: flex;
      gap: 27px;
      .buy {
        padding: 8px 60px;
        border-radius: 6px;
        background-color: #2752e7;
        p {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #fff;
        }
      }
      .sell {
        border: 1px solid #e3e3e3;
        padding: 8px 60px;
        border-radius: 6px;
        p {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #a9a9a9;
        }
      }
    }
    .names {
      display: none;
    }
    .pirce {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
        color: #a9a9a9;
      }
      .count {
        margin-top: 4px;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
      }
    }

    .forms {
      position: relative;
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .swapp {
        cursor: pointer;
        position: absolute;
        top: 22%;
        left: 46%;
      }
      button {
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        background-color: #2752e7;
        padding: 17px;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }
    }
  }
}
