@import "../../../../scss/mixins";

.container {
  margin-top: 24px;
  background-color: #ffff;
  border-radius: 6px;
  padding: 16px 20px;

  .header {
    @include justifyBetween;

    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }

    .selects {
      gap: 12px;
      @include justifyBetween;
    }
  }
  .graph {
    width: 700px;
    padding-top: 16px;
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 16px;
    background-color: #ffff;
    border-radius: 6px;
    padding: 16px 20px;

    .header {
      @include justifyBetween;

      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }

      .selects {
        gap: 12px;
        @include justifyBetween;
      }
    }
    .graph {
      width: 524px;
      padding-top: 16px;
      padding-right: 16px;
    }
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    margin-top: 8px;
    background-color: #ffff;
    border-radius: 0px;
    padding: 16px 20px;

    .header {
      @include justifyBetween;

      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }

      .selects {
        gap: 12px;
        @include justifyBetween;
      }
    }
    .graph {
      max-width: 524px;
      padding-top: 16px;
      padding-right: 16px;
    }
  }
}
