.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {
    display: flex;
    gap: 12px;

    .info {
      display: flex;
      flex-direction: column;
      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        color: #000000;
      }
      .text {
        font-weight: 400;
        font-size: 10px;
        line-height: 16.5px;
        color: #a9a9a9;
      }
    }
  }
}
