@import "../../../../scss/colors";
@import "../../../../scss/mixins";

.container {
  padding: 16px 20px;
  border-radius: 6px;
  background: #fff;

  .header {
    @include alignCenter;
    gap: 12px;
    .icon {
      @include alignCenter;
      padding: 8px;
      border-radius: 100%;
      background-color: #d0dbff;
    }
    .title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22.4px;
    }
    .graph {
      margin-left: 25.5px;
      @include alignCenter;
    }
  }

  .counts {
    margin-top: 16px;
    .number {
      font-weight: 600;
      font-size: 18px;
      line-height: 26.1px;
      color: $bold-text-color;
    }
    .subInfo {
      gap: 4px;
      margin-top: 4px;
      @include alignCenter;
      span {
        @include alignCenter;
      }
      .redPercent {
        font-weight: 600;
        font-size: 12px;
        line-height: 20.4px;
        color: $percent-red-color;
      }
      .percent {
        font-weight: 600;
        font-size: 12px;
        line-height: 20.4px;
        color: $percent-green-color;
      }
    }
  }
}

.activeContainer {
  padding: 16px 20px;
  border-radius: 6px;
  background: $primary;

  .header {
    @include alignCenter;
    gap: 12px;
    .icon {
      @include alignCenter;
      padding: 8px;
      border-radius: 100%;
      background-color: #fff;
    }
    .title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22.4px;
      color: #ffff;
    }
    .graph {
      margin-left: 25.5px;
      @include alignCenter;
    }
  }

  .counts {
    margin-top: 16px;
    .number {
      font-weight: 600;
      font-size: 18px;
      line-height: 26.1px;
      color: #fff;
    }
    .subInfo {
      gap: 4px;
      margin-top: 4px;
      @include alignCenter;
      span {
        @include alignCenter;
      }
      .percent {
        font-weight: 600;
        font-size: 12px;
        line-height: 20.4px;
        color: $percent-green-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 227px;
    padding: 16px 20px;
    border-radius: 6px;
    background: #fff;

    .header {
      @include alignCenter;
      gap: 12px;
      .icon {
        @include alignCenter;
        padding: 8px;
        border-radius: 100%;
        background-color: #d0dbff;
      }
      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
      }
      .graph {
        margin-left: 25.5px;
        @include alignCenter;
      }
    }

    .counts {
      margin-top: 16px;
      .number {
        font-weight: 600;
        font-size: 18px;
        line-height: 26.1px;
        color: $bold-text-color;
      }
      .subInfo {
        gap: 4px;
        margin-top: 4px;
        @include alignCenter;
        span {
          @include alignCenter;
        }
        .redPercent {
          font-weight: 600;
          font-size: 12px;
          line-height: 20.4px;
          color: $percent-red-color;
        }
        .percent {
          font-weight: 600;
          font-size: 12px;
          line-height: 20.4px;
          color: $percent-green-color;
        }
      }
    }
  }

  .activeContainer {
    max-width: 227px;
    padding: 16px 20px;
    border-radius: 6px;
    background: $primary;

    .header {
      @include alignCenter;
      gap: 12px;
      .icon {
        @include alignCenter;
        padding: 8px;
        border-radius: 100%;
        background-color: #fff;
      }
      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        color: #ffff;
      }
      .graph {
        margin-left: 25.5px;
        @include alignCenter;
      }
    }

    .counts {
      margin-top: 16px;
      .number {
        font-weight: 600;
        font-size: 18px;
        line-height: 26.1px;
        color: #fff;
      }
      .subInfo {
        gap: 4px;
        margin-top: 4px;
        @include alignCenter;
        span {
          @include alignCenter;
        }
        .percent {
          font-weight: 600;
          font-size: 12px;
          line-height: 20.4px;
          color: $percent-green-color;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 227px;
    padding: 16px 20px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid $header-border-color;

    .header {
      @include alignCenter;
      gap: 12px;
      .icon {
        @include alignCenter;
        padding: 8px;
        border-radius: 100%;
        background-color: #d0dbff;
      }
      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
      }
      .graph {
        margin-left: 25.5px;
        @include alignCenter;
      }
    }

    .counts {
      margin-top: 16px;
      .number {
        font-weight: 600;
        font-size: 18px;
        line-height: 26.1px;
        color: $bold-text-color;
      }
      .subInfo {
        gap: 4px;
        margin-top: 4px;
        @include alignCenter;
        span {
          @include alignCenter;
        }
        .redPercent {
          font-weight: 600;
          font-size: 12px;
          line-height: 20.4px;
          color: $percent-red-color;
        }
        .percent {
          font-weight: 600;
          font-size: 12px;
          line-height: 20.4px;
          color: $percent-green-color;
        }
      }
    }
  }

  .activeContainer {
    max-width: 227px;
    padding: 16px 20px;
    border-radius: 6px;
    background: $primary;

    .header {
      @include alignCenter;
      gap: 12px;
      .icon {
        @include alignCenter;
        padding: 8px;
        border-radius: 100%;
        background-color: #fff;
      }
      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        color: #ffff;
      }
      .graph {
        margin-left: 25.5px;
        @include alignCenter;
      }
    }

    .counts {
      margin-top: 16px;
      .number {
        font-weight: 600;
        font-size: 18px;
        line-height: 26.1px;
        color: #fff;
      }
      .subInfo {
        gap: 4px;
        margin-top: 4px;
        @include alignCenter;
        span {
          @include alignCenter;
        }
        .percent {
          font-weight: 600;
          font-size: 12px;
          line-height: 20.4px;
          color: $percent-green-color;
        }
      }
    }
  }
}
