@import "../../../../scss/mixins.scss";
@import "../../../../scss/colors";

.container {
  background: #ffff;
  height: 110vh;

  @include flexDirectionColumn;
  padding: 24px 30px;

  .mainbar {
    border-bottom: 1px solid $header-border-color;
    @include flexDirectionColumn;
    gap: 16px;
    padding-bottom: 16px;

    .barContents {
      cursor: pointer;
      @include alignCenter;
      gap: 12px;
      padding: 9px 24px;

      .icon {
        @include alignCenter;
      }
      .title {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
        color: $dark-gray;
      }
      &:hover {
        background-color: #f5f8fe;
        border-radius: 6px;
      }
    }
    .active {
      cursor: pointer;
      @include alignCenter;
      gap: 12px;
      padding: 9px 24px 9px 20px;
      background-color: #f5f8fe;
      border-radius: 6px;
      border-left: 4px solid #2752e7;

      .icon {
        @include alignCenter;
      }
      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        color: $primary;
      }
    }
  }
  .settingsBar {
    @include flexDirectionColumn;
    gap: 16px;
    margin-top: 32px;
    .secondBarContents {
      cursor: pointer;
      @include alignCenter;
      gap: 12px;
      padding: 9px 24px;

      .icon {
        @include alignCenter;
      }
      .title {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
        color: $dark-gray;
      }
      &:hover {
        background-color: #f5f8fe;
        border-radius: 6px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    background: #ffff;
    height: 190vh;

    @include flexDirectionColumn;
    padding: 24px 30px;

    .mainbar {
      border-bottom: 1px solid $header-border-color;
      @include flexDirectionColumn;
      gap: 16px;
      padding-bottom: 16px;

      .barContents {
        cursor: pointer;
        @include alignCenter;
        gap: 12px;
        padding: 9px 24px;

        .icon {
          @include alignCenter;
        }
        .title {
          font-weight: 400;
          font-size: 14px;
          line-height: 22.4px;
          color: $dark-gray;
        }
        &:hover {
          background-color: #f5f8fe;
          border-radius: 6px;
        }
      }
      .active {
        cursor: pointer;
        @include alignCenter;
        gap: 12px;
        padding: 9px 24px 9px 20px;
        background-color: #f5f8fe;
        border-radius: 6px;
        border-left: 4px solid #2752e7;

        .icon {
          @include alignCenter;
        }
        .title {
          font-weight: 600;
          font-size: 14px;
          line-height: 22.4px;
          color: $primary;
        }
      }
    }
    .settingsBar {
      @include flexDirectionColumn;
      gap: 16px;
      margin-top: 32px;
      .secondBarContents {
        cursor: pointer;
        @include alignCenter;
        gap: 12px;
        padding: 9px 24px;

        .icon {
          @include alignCenter;
        }
        .title {
          font-weight: 400;
          font-size: 14px;
          line-height: 22.4px;
          color: $dark-gray;
        }
        &:hover {
          background-color: #f5f8fe;
          border-radius: 6px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    display: none;
  }
}
