.inputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  height: 48px;
  border: 1px solid #cacaca;
  transition: border 0.25s linear;
  overflow: hidden;
  width: 100%;

  &:hover,
  &:focus-visible,
  &:active {
    transition: border 0.25s linear;
    border: 2px solid #2752e7;
  }
  input {
    font-weight: 600;
    margin-left: 8px;
    font-size: 16px;
    line-height: 25px;
    outline: none;
    height: 48px;
    width: 100%;
    color: #000;
    padding: 0 !important;
    border: none;
    caret-color: #2752e7;
    &::placeholder {
      color: #5b6871;
      font-size: 16px;
      line-height: 25px;
    }
  }

  .leftIcon {
    width: 72px;
    height: 42px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    img {
      width: 100%;
      padding: 8px 6px;
    }
  }
  .leftIcons {
    padding-left: 16px;
    font-size: 14px;
    display: flex;
    background: transparent;
  }
  .rightIcon {
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    padding: 13px 8px;
    .marketName {
      font-weight: 600;
      font-size: 14px;
      line-height: 22.1px;
      color: #626262;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

.withLeftInputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  height: 48px;
  border: 1px solid #cacaca;
  transition: border 0.25s linear;
  overflow: hidden;
  width: 100%;

  &:hover,
  &:focus-visible,
  &:active {
    transition: border 0.25s linear;
    border: 2px solid #2752e7;
  }
  input {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    outline: none;
    height: 48px;
    width: 100%;
    color: #000;
    padding: 0 !important;
    border: none;
    caret-color: #2752e7;
    &::placeholder {
      color: #5b6871;
      font-size: 16px;
      line-height: 25px;
    }
  }

  .leftIcon {
    width: 72px;
    height: 42px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    img {
      width: 100%;
      padding: 8px 6px;
    }
  }
  .leftIcons {
    padding-left: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    background: transparent;
    color: #000000;
  }
  .rightIcon {
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    padding: 13px 8px;
    .marketName {
      font-weight: 600;
      font-size: 14px;
      line-height: 22.1px;
      color: #626262;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}
