.tooltip {
  padding: 4px 10px;
  background: #2c3131;
  border-radius: 6px;
  .item {
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      &:first-child {
        color: #fff;
      }
    }
  }
}
