@import "../../../../scss/colors";

.container {
  display: flex;
  flex-direction: column;
  padding: 16px 18px;
  border-radius: 6px;
  background-color: #fff;
  margin-top: 24px;
  .header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $bold-text-color;
    }
    .link {
      color: $primary;
      font-weight: 600;
      font-size: 14px;
      line-height: 22.4px;
    }
  }
  .coins {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    padding: 16px 18px;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 0px;
    .header {
      margin-bottom: 24px;
      display: flex;
      gap: 33px;
      align-items: center;
      justify-content: space-between;
      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $bold-text-color;
      }
      .link {
        color: $primary;
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
      }
    }
    .coins {
      display: flex;
      flex-direction: column;
      gap: 27px;
    }
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    padding: 16px 18px;
    border-radius: 0px;
    background-color: #fff;
    margin-top: 0px;
    .header {
      margin-bottom: 24px;
      display: flex;
      gap: 33px;
      align-items: center;
      justify-content: space-between;
      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $bold-text-color;
      }
      .link {
        color: $primary;
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
      }
    }
    .coins {
      display: flex;
      flex-direction: column;
      gap: 27px;
    }
  }
}
