@import "../../../../scss/colors";

.table {
  padding: 16px 18px;
  border-radius: 6px;
  background-color: #fff;
  margin-top: 24px;
  .header {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    .headerTitle {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $bold-text-color;
    }
    .link {
      color: $primary;
      font-weight: 600;
      font-size: 14px;
      line-height: 22.4px;
    }
  }
  .customTableCell {
    width: 20px;
  }
}

@media (max-width: 768px) {
  .table {
    width: 524px;
    padding: 16px 18px;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 16px;
    .customTableCell {
      width: 20px;
    }
    .header {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 14px;
      .headerTitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $bold-text-color;
      }
      .link {
        color: $primary;
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
      }
    }
  }
}
