@import "../../scss/mixins.scss";
@import "../../scss/colors";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.header {
  border-bottom: 1px solid $header-border-color;
  .container {
    display: flex;

    .logo {
      cursor: pointer;
      padding: 27px 61px;
    }
    .nav {
      width: 100%;
      @include alignCenterJustifyBetween;
      padding: 20px 24px 20px 0px;
      .resMenuBtn {
        display: none;
      }
      .navTitle {
        display: flex;
        flex-direction: column;
        .title {
          font-family: "Inter";
          font-weight: 600;
          font-size: 18px;
          line-height: 26.1px;
          color: $bold-text-color;
        }
        .text {
          font-family: "Inter";
          font-weight: 400;
          font-size: 12px;
          line-height: 20.4px;
          color: $base-color;
        }
      }
      .filter {
        display: flex;
        align-items: center;
        gap: 12px;

        .bell {
          display: block;
        }

        .resIcon {
          display: none;
        }
        .searchInputWrapper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 6px;
          height: 34px;
          border: 1px solid #cacaca;
          transition: border 0.25s linear;
          overflow: hidden;
          width: 240px;

          &:hover,
          &:focus-visible,
          &:active {
            transition: border 0.25s linear;
            border: 2px solid #2752e7;
          }
          input {
            font-weight: 600;
            margin-left: 8px;
            font-size: 13px;
            line-height: 22px;
            outline: none;
            height: 34px;
            width: 100%;
            color: #000;
            padding: 0 !important;
            border: none;
            caret-color: #2752e7;
            &::placeholder {
              color: #a9a9a9;
              font-weight: 400;
              font-size: 13px;
              line-height: 22px;
            }
          }

          .leftIcon {
            width: 72px;
            height: 42px;
            display: flex;
            align-items: center;
            background: #f9f9f9;
            img {
              width: 100%;
              padding: 8px 6px;
            }
          }
          .leftIcons {
            padding-left: 16px;
            font-size: 14px;
            display: flex;
            background: transparent;
          }
          .rightIcon {
            cursor: pointer;
            display: flex;
            gap: 8px;
            align-items: center;
            height: 100%;
            padding: 13px 8px;
            .marketName {
              font-weight: 600;
              font-size: 14px;
              line-height: 22.1px;
              color: #626262;
            }
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          }
        }
        img {
          cursor: pointer;
        }
        .personInfo {
          display: flex;
          gap: 4px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    border-bottom: 1px solid $header-border-color;
    .container {
      display: flex;

      .logo {
        cursor: pointer;
        padding: 27px 61px;
      }
      .nav {
        width: 100%;
        @include alignCenterJustifyBetween;
        padding: 20px 24px 20px 0px;
        .resMenuBtn {
          display: none;
        }
        .navTitle {
          display: flex;
          flex-direction: column;
          .title {
            font-family: "Inter";
            font-weight: 600;
            font-size: 18px;
            line-height: 26.1px;
            color: $bold-text-color;
          }
          .text {
            font-family: "Inter";
            font-weight: 400;
            font-size: 12px;
            line-height: 20.4px;
            color: $base-color;
          }
        }
        .filter {
          display: flex;
          align-items: center;
          gap: 12px;
          .bell {
            display: block;
          }

          .resIcon {
            display: block;
          }

          .searchInputWrapper {
            display: none;
          }
          img {
            cursor: pointer;
          }
          .personInfo {
            display: flex;
            gap: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  @media (max-width: 768px) {
    .header {
      border-bottom: 1px solid $header-border-color;
      .container {
        display: flex;

        .logo {
          display: none;
        }
        .nav {
          width: 100%;
          @include alignCenterJustifyBetween;
          padding: 20px 24px 20px 24px;

          .resMenuBtn {
            display: block;
          }
          .navTitle {
            display: none;
          }
          .filter {
            display: flex;
            align-items: center;
            gap: 12px;

            .bell {
              display: none;
            }
            .resIcon {
              display: block;
            }

            .searchInputWrapper {
              display: none;
            }
            img {
              cursor: pointer;
            }
            .personInfo {
              display: flex;
              gap: 4px;
              .arrowImg {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
