@import "../../../../scss/colors";

@media (max-width: 375px) {
  .container {
    margin: 8px 0;
    width: 375px;
    background: #ffff;
    padding: 24px;
    .header {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0;
      .headerTitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $bold-text-color;
      }
      .link {
        color: $primary;
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
      }
    }

    .cards {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-radius: 6px;
        border: 1px solid #e3e3e3;
        .content {
          align-items: center;
          display: flex;
          gap: 12px;
          .info {
            .infoTitle {
              font-weight: 600;
              font-size: 14px;
              line-height: 22px;
              color: #2c3131;
            }
            .infoText {
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color: #626262;
            }
          }
        }

        .costs {
          display: flex;
          flex-direction: column;
          .cost {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #2c3131;
          }
          .percent {
            display: flex;
            align-items: center;
            gap: 4px;
            .count {
              font-weight: 600;
              font-size: 14px;
              line-height: 22px;
              color: #53d258;
            }
            .countRed {
              font-weight: 600;
              font-size: 14px;
              line-height: 22px;
              color: #e25c5c;
            }
          }
        }
      }
    }
  }
}
