@import "../../scss/mixins";

.container {
  display: flex;

  .mainBody {
    display: flex;
    .bodyContent {
      padding: 24px;
      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
      }
      .trendinRes {
        display: none;
      }
      .resSwapper {
        display: none;
      }
      .statistics {
        width: 100%;
      }
    }

    .sells {
      padding: 24px 0;
      .transfers {
        display: block;
      }
      .restransfers {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    overflow: hidden;
    .mainBody {
      display: flex;
      flex-direction: column;
      .bodyContent {
        padding: 16px 16px 0 16px;
        .cards {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;
          overflow: auto;
        }
        .trendinRes {
          display: none;
        }
        .resSwapper {
          display: block;
        }
        .statistics {
          width: 524px;
        }
      }

      .sells {
        padding: 0px 0;
        .statusSwapper {
          display: none;
        }
        .transfers {
          display: none;
        }
        .restransfers {
          display: flex;
          gap: 16px;
          margin: 16px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    display: flex;
    // overflow: hidden;
    .mainBody {
      display: flex;
      flex-direction: column;
      .bodyContent {
        padding: 0px 0px 0 0px;
        .cards {
          background-color: #fff;
          padding: 16px 20px;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;
          overflow: auto;
        }
        .trendinRes {
          display: flex;
        }
        .resSwapper {
          display: none;
        }
        .statistics {
          width: 524px;
        }
        .trending {
          display: none;
        }
      }

      .sells {
        padding: 0px 0;
        .statusSwapper {
          display: flex;
        }
        .transfers {
          margin-top: 8px;
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        .restransfers {
          display: none;
        }
      }
    }
  }
}
