$primary: #2752e7;
$primary-hover: #e7f3fc;
$page-background: #fefefe;
$dark-gray: #a9a9a9;
$border-color: #eef0f2;
$bold-text-color: #000000;
$base-color: #626262;
$header-border-color: #e3e3e3;
$percent-green-color: #53d258;
$percent-red-color: #e25c5c;
